footer {
  display: flex;
  gap: 1.5rem;
  padding-block: 1.5rem;

  font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
margin-right: auto;
}

@media ( max-width: 48rem) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
    column-gap: 1rem;
    justify-items: center;
  }

  footer span:nth-child(1) {
    margin-right: 0;
    grid-column: 1 / -1;
  }

  footer span:nth-child(3) {
    white-space: nowrap;
  }
}
