header {
  padding-block: 2rem;
  font: var(--text-md);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile {
  display: flex;
  gap: 2rem;
}

#profile > div {
  max-width: 24rem;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: .5rem;
}

#profile img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  border-radius: 50%;
}

#info {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 17.5rem;
}

#info li {
  display: flex;
  align-items: center;
  gap: .5rem;
}

@media (max-width: 48rem) {
  header {
    padding-block: 1.5rem;
  }

  header .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  #profile {
    flex-direction: column;
    gap: 1rem;
  }

  #profile > div {
    max-width: 100%;
  }

  #profile img {
    width: 7.5rem;
    height: 7.5rem;
  }

  #info {
    width: 100%;
    flex-direction: column;
    gap: .75rem;
  }
}
