main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-block: 1.5rem;
}

main img {
  width: 17.875rem;
  height: 17.875rem;
  object-fit: cover;
}

@media (max-width: 48rem) {
  main {
    gap: 1rem;
    flex-direction: column;
  }

  main img {
    width: 100%;
    height: auto;
  }
}

